 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea, input[type=email] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ec5454; 
    border-radius: 4px; 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #292929;
    color: white;
  }
  #subject{
      height: 90%;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #ec5454;
    color: white;
    font-size: 14px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #e25050;
  }
  
  /* Add a background color and some padding around the form */
  .contactForm {
      width: 100%;
    color: white;
    border-radius: 5px;
    background-color: #2e2e2e;
    padding: 20px 0;

  }
  .contactForm form{
      display: flex;
      flex-direction: column;
  }
  .contactForm form .form-top, .contactForm form .form-bottom{
      display: flex;
      flex-direction: row;
  }
  .contactForm form .form-top .form-left, .contactForm form .form-top .form-right{
      display: flex;
      flex-direction: column;
      margin-right: 5%;
      margin-left: 5%;
  }
  .contactForm form .form-top .form-left{
    width: 25%;
  }
  .contactForm form .form-top .form-right{
    width: 55%;
  }
