body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(61, 61, 61);
}
.header {
  background-color: rgb(43, 43, 43);
  height: 60px;
}
.header:only-child{
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
}
.header > img {
  margin: 0 3%;
  top: 10%;
  height: 80%;
  position: relative;
}
